<h1>Lista de Usuarios</h1>

<div class="row">
    <div class="col-sm-9">
        <p>Aqui se listan todos los usuarios del sistema de mascotas.</p>
    </div>
    <div class="col-sm-3">
       <a href="/CrearUsuario" class="btn btn-block btn-success">
           Crear Usuario
       </a>
    </div>
</div>
<br>


<% for(var i=0; i<usuarios.length; i++) {%>

    <div class="row ma-margen-top-bottom">
        <div class="col-sm-1"></div>

        <div class="col-sm-4">

            <div class="text-center ma-borde ma-padding-top-bottom">
                <h1> <%= usuarios[i].apellidos %></h1>
            </div>

        </div>



        <div class="col-sm-1"></div>

        <div class="col-sm-5 text-center">
            <div class="text-center ma-borde" style="margin-top: 40px;">
                <p>
                    <%= usuarios[i].apellidos %>
                        <%= usuarios[i].nombres %>
                </p>
                <p>
                    <%= usuarios[i].correo %>
                </p>
            </div>
        </div>

        <div class="col-sm-1">
            <a href="/Usuario/BorrarUsuario?id=<%= usuarios[i].id %>" class="btn btn-danger btn-block">X</a>
            <a href="/EditarUsuario?id=<%= usuarios[i].id %>" class="btn btn-info btn-block">Edit</a>
            
        </div>
    </div>

    <% }%>
    
   
  
 






